---
import CardItem from '@/components/CardItem.astro'
const evas = [
  {
    title: 'PRESENCIAL',
    subtitle: 'EVA',
    href: 'https://evaloja.soydelsuda.com/',
    src: '/logos/presencial.svg',
    alt: 'Eva Presencial'
  },
  {
    title: 'ONLINE',
    subtitle: 'EVA',
    href: 'https://onlineloja.soydelsuda.com/',
    src: '/logos/online.svg',
    alt: 'Eva Online'
  },
  {
    title: 'MACHALA',
    subtitle: 'EVA',
    href: 'https://evamachala.soydelsuda.com/',
    src: '/logos/machala.svg',
    alt: 'Eva Machala'
  },
  {
    title: 'CONTINUA',
    subtitle: 'EVA',
    href: '/',
    src: '/logos/continua.svg',
    alt: 'Eva Continua'
  },
  {
    title: 'ACADÉMICO',
    subtitle: 'SISTEMA',
    href: 'https://itsl.academicok.com/',
    src: '/img/sga.png',
    alt: 'Sistema Académico'
  },
  {
    title: 'INSTITUCIONAL',
    subtitle: 'CORREO',
    href: 'https://mail.google.com/',
    src: '/img/email.png',
    alt: 'Correo Institucional'
  },
  {
    title: 'VIRTUAL',
    subtitle: 'BIBLIOTECA',
    href: 'https://elibro.net/es/lc/sudamericanoloja/login_usuario/',
    src: '/img/biblioteca.png',
    alt: 'Biblioteca Virtual'
  },
  {
    title: 'ACADÉMICOS',
    subtitle: 'RECURSOS',
    href: 'https://drive.google.com/drive/u/1/folders/1vk2ScxnPS6h8QLg6eaJ3czru9LfQMXl0',
    src: '/img/recursos.png',
    alt: 'Recursos Académicos'
  }
]
---

<section
  class='mx-auto max-w-6xl grid grid-cols-1 gap-12 mb-12 px-8 lg:px-auto md:grid-cols-2 lg:grid-cols-4 animate-fade-up'
>
  {
    evas.map(({ title, subtitle, href, src, alt }) => {
      return (
        <CardItem
          title={title}
          subtitle={subtitle}
          href={href}
          src={src}
          alt={alt}
        />
      )
    })
  }
</section>
